.roster {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
grid-gap: 16px;
}
.roster-item {
    text-align: center;
}
.roster-item img {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

footer {
    background-color: #ff00ff; /* Bright magenta */
}

@font-face {
    font-family: 'Couture';
    src: url('/fonts/couture-bld.otf') format('opentype');
    /* You may need to adjust the path to your font file */
  }
  
  body {
    font-family: 'Couture', sans-serif;
  }
  
  /* Additional font styling for specific elements as needed */
  h1, h2, h3 {
    font-family: 'Couture', sans-serif;
  }
  
