.roster-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjusts the number of columns based on screen size */
    padding-top: 100px;
    gap: 20px;
    width: 100%; /* Gallery width */
    margin: auto; /* Center the gallery */
  }
  .roster-item {
    text-align: center;
  }
  .roster-item img {
    max-width: 100%; /* Makes image responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
    object-fit: contain; /* Scale images while maintaining aspect ratio */
    max-height: 300px; /* Limit maximum height to 300px (adjust as needed) */
  }
  .roster-item h2 {
    margin-top: 10px;
  }
  .roster-item a {
    color: inherit;
    text-decoration: none; /* Remove underlines from links */
  }

  @font-face {
    font-family: 'Couture';
    src: url('../../fonts/couture-bld.otf') format('opentype');
    /* You may need to adjust the path to your font file */
  }
  
  body {
    font-family: 'Couture', sans-serif !important;
  }
  
  h1, h2, h3 {
    font-family: 'Couture', sans-serif !important;
  }

  .partner-logo {
    max-width: 200px;   /* Set a maximum width */
    max-height: 200px;  /* Set a maximum height */
    width: auto;        /* Allow the width to adjust automatically */
    height: auto;       /* Allow the height to adjust automatically */
    margin: 0 10px;     /* Add some space around the logos */
  }

  .partner-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add other styles as needed */
  }

  .partner-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; /* Add padding to the top */
  }
  
  .partner-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%; /* Ensure each partner item takes full width */
  }
  
  .partner-info {
    text-align: left;
  }
  
  .partner-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10px; /* Add spacing between title and description */
  }
  
  .partner-description {
    font-size: 1em;
    color: #555;
  }
  
  .partner-logo-container {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    border-radius: 50%;
    margin-left: 20px;
  }


  
  
  
  